<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>PureSkin - Skin Analysis</title>
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="text-center mb-4">Skin Analysis Quiz</h1>
      <form action="/analyze" method="post">
        {% for q in questions %}
        <div class="form-group">
          <label for="{{ q.question }}">{{ q.question }}</label>
          <select
            class="form-control"
            name="{{ q.question|replace(' ', '_') }}"
            id="{{ q.question|replace(' ', '_') }}"
          >
            {% for option in q.options %}
            <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
          </select>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-success btn-block">Analyze</button>
      </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
